body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}


.overview{
    background-color: rgb(251, 251, 251);
    height: 20vw;
    width: 40vw;
    display: flex;
    margin-top:10vw;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 10vw;
}

.input-field{
    height:1.5rem;
    width: 13rem;
    background-color: rgb(255, 255, 255);
    border:none;
    outline: none;
}



.button{
    height:3rem;
    background-color: rgb(71, 194, 22);
    font-size: x-large;
    border:none;
}

.button:hover{
    color: rgb(71, 194, 22);
    border: 2px solid rgb(71, 194, 22);
    background-color:rgb(251, 251, 251);
    border-radius: 10px;
    

}
